* {
  box-sizing: border-box;
}

.CalendarPanel {
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.CalendarPanelItem {
  border: 1px solid lightgray;
  padding: 7px;
  display: flex;
  justify-content: right;
  position: relative;
  cursor: pointer;
}

.CalendarPanelItem--not-in-range {
  opacity: 0.5;
  color: #747bff;
  cursor: not-allowed;
}

.CalendarPanelItem > span {
  width: 26px;
  height: 26px;
}

.CurrentDate--selected {
  background-color: #747bff;
  border-radius: 50%;
}

.CurrentDate--today {
  border-radius: 50%;
  border: 1px solid #747bff;
}

.CurrentDate--not-current-month {
  opacity: 0.4;
  /* color: #747bff; */
}

.Controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0px 15px 0px;
  gap: 8px;
}

.Controller > button {
  width: 140px;
}

.Controller > div {
  width: 60px;
}

.SelectedDate {
  font-size: large;
  margin-top: 20px;
}
