* {
  box-sizing: border-box;
}

.CalendarContainer {
  position: relative;
}

.CalendarWrapper {
  /* position: absolute; */
  top: 100%;
}

.CalendarInput--invalid {
  border-color: red;
  color: red;
}
