* {
  box-sizing: border-box;
}

.CalendarContainer {
  position: relative;
}

.CalendarWrapper {
  top: 100%;
}

.CalendarInput {
  padding: 10px;
}

.CalendarInput--invalid {
  border-color: red;
  color: red;
}
